<!-- begin contact -->
  <div class="contact-modal">
    <div class="container">
      <div class="row">
        <div class="col col-12">

          <div class="contact-close">
            <i class="ion ion-md-close"></i>
          </div>

          <div class="form-box">
            <div class="contact-head">
              {% if site.data.settings.contact__settings.contact__title %}
                <h2 class="contact-title">{{ site.data.settings.contact__settings.contact__title }}</h2>
              {% endif %}
              {% if site.data.settings.contact__settings.contact__description %}
                <p class="contact-description">{{ site.data.settings.contact__settings.contact__description }}</p>
              {% endif %}
            </div>
            <form
  action="https://formspree.io/f/mzbqrjaj"
  method="POST"
>
  <label>
    Your email:
    <input type="email" name="email">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>
          </div>

        </div>
      </div>
    </div>
  </div>
<!-- end contact -->